
@model EmployeeUI.ViewModel.EmployeeViewModel

@{
    ViewBag.Title = "Edit";
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<h2>Edit</h2>

<div align="center" width="500px">
    @using (Html.BeginForm("Edit", "employee", FormMethod.Post))
    {
        @Html.ValidationSummary(true)
        <table class="table">
            <tr>
                <td>
                    @Html.LabelFor(model => model.Employee.FirstName)
                </td>

                <td>
                    @Html.TextBoxFor(model => model.Employee.FirstName)
                    @Html.ValidationMessageFor(model => model.Employee.FirstName)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Employee.LastName)
                </td>

                <td>
                    @Html.TextBoxFor(model => model.Employee.LastName)
                    @Html.ValidationMessageFor(model => model.Employee.LastName)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Employee.Designation)
                </td>

                <td>
                    @Html.TextBoxFor(model => model.Employee.Designation)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Employee.Salary)
                </td>

                <td>
                    @Html.TextBoxFor(model => model.Employee.Salary)
                </td>
            </tr>
            <tr>
                <td> </td>

                <td>
                    <input type="submit" value="Update" /> &nbsp;
                    @Html.ActionLink("Back", "Index", "Employee")
                    @Html.HiddenFor(model => model.Employee.EmpCode)
                </td>
            </tr>
        </table>
    }
</div>